$main-header-color: #ffffff;
$white-color: #ffffff;
$accent-color: #2196ff;

$title-color: #212121;
$primary-text-color: #757575;
$secondary-text-color: #212121;

$grey-bcg-color: #2f303a;
$powder-bcg-color: #f5f4fa;

$btn-color: #ffffff;
$icon-color: #afb1b8;
