.features__list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include mq(tab) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.features__item {
  @include mq(tab-only) {
    width: calc((100% - 30px) / 2);
  }

  @include mq(desk) {
    width: calc((100% - 30px * 3) / 4);
  }
}

.features__pic {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $powder-bcg-color;
}

.features__icon {
  height: 70px;
  width: 70px;
}

.features__subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;

  @include mq(desk) {
    text-align: start;
  }

  .features__text {
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
