.features__list {
  display: flex;
  gap: 30px;
}

.features__pic {
  width: 270px;
  height: 120px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: $powder-bcg-color;
}

.features__icon {
  height: 70px;
  width: 70px;
}

.features__subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.features__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}
