footer {
  background-color: $grey-bcg-color;
  padding-top: 60px;
  padding-bottom: 60px;

  text-align: center;

  @include mq(desk) {
    text-align: start;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;

  @include mq(tab-only) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @include mq(desk) {
    flex-direction: row;
    // flex-wrap: nowrap;
    // justify-content: start;
    align-items: baseline;
    gap: 0;
  }
}

// address

.footer__address {
  @include mq(desk) {
    margin-right: 70px;
  }
}

.footer__address-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;

  @include mq(desk) {
    gap: 9px;
  }
}

.footer__logo {
  margin-left: auto;
  margin-right: auto;
}

.footer__address-link {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.address__name {
  color: $white-color;
}

// social media block

.footer__sm {
  @include mq(desk) {
    margin-right: 93px;
  }
}

.footer__sm-text,
.footer__subscription-text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;
}

// input block

.footer__subscription {
  width: 100%;

  @include mq(tab-only) {
    max-width: 450px;
  }

  @include mq(desk) {
    width: fit-content;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
  }
}

.footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include mq(desk) {
    flex-direction: row;
    gap: 12px;
  }

  .footer__form-input {
    width: 100%;
    padding: 15px 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: $white-color;

    &:hover {
      outline: none;
      border: 1px solid $accent-color;
    }
  }
}

.footer__btn {
  width: fit-content;
  padding: 10px 28px;
  display: flex;
  gap: 10px;
  align-items: center;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .footer__btn-icon {
    width: 24px;
    height: 24px;
    fill: $btn-color;
  }
}
